<div class="jumbotron" style="text-align:center;">
  <h1 class="display-4">Hello, wellcome to blog application!</h1>
</div>
<% @posts.each do |post| %>
  <div class="mb-3">
    <%= link_to post.user.username, user_path(post, id: post.user_id), class:"font-weight-bold" %><br>
    Category: 
    <% post.postcategories.each do |c| %>
      <%= c.category.name%> | 
    <% end %>
    <h4><%= post.title %></h3>
    <p><%= post.content %></p>

    <div class="container">
      <% post.images.each do |file| %>
          <% if file.representable? %>
            <%= image_tag file.representation(resize_to_fill: [200, 200]) %>
          <% else %>
            <%= link_to rails_blob_path(file, disposition: "attachment") do %>
            <%= image_tag "placeholder.png", alt: "Download file", class:"align-self-start mr-3" %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="container">
      <%= render "comments/comment", post_id: post.id %>
    </div>
    <h4>List of Comments</h4>
    Number of comments: <%= post.comment_num%>
    <table class="table table-striped">
      <% post.comments.each do |comment| %>
        <tr>
          <td><%= comment.user.username%></td>
          <td><%= comment.content%></td>
          <% if can? :destroy, comment %>
          <td><%= link_to "Delete", comment_path(comment, post_id: post.id, userpost_id: post.user_id), data: {
                    turbo_method: :delete
                  } %></td>
                  <%else%>
                  <td><%= link_to "Delete"%></td>
                  <% end %>
        </tr>
      <%end%>
    </table>
  </div>
<% end %>
<%= paginate @posts%>

