<div class="jumbotron" style="text-align:center;">
  <h1 class="display-4">Hello, wellcome to <%= current_user.username %> 'blog!</h1>
  Number of comments: <%= current_user.comment_num%>
</div>

<% @posts.each do |post| %>
  <div class="mb-3">
    Category: 
    <% post.postcategories.each do |c| %>
      <%= c.category.name%> | 
    <% end %>
    <h4><%= post.title %></h3>
    <p><%= post.content %></p>

    <ul>
        <% post.images.each do |file| %>
            <% if file.representable? %>
              <%= image_tag file.representation(resize_to_limit: [200, 200]) %>
            <% else %>
              <%= link_to rails_blob_path(file, disposition: "attachment") do %>
                <%= image_tag "placeholder.png", alt: "Download file" %>
              <% end %>
            <% end %>
        <% end %>
      </ul>
      
    <div>
      <%= link_to "Edit this post", edit_post_path(post) %> |
      <%= link_to "Delete this post", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    </div>
    <%= render "comments/comment", post_id: post.id %>
     <h4>List of Comments</h4>
    Number of comments: <%= post.comment_num%>
    <table class="table table-striped">
      <% post.comments.each do |comment| %>
        <tr>
          <td><%= comment.user.username%></td>
          <td><%= comment.content%></td>
          <% if can? :destroy, comment %>
          <td><%= link_to "Delete", comment_path(comment), data: {
                    turbo_method: :delete
                  } %></td>
                  <%else%>
                  <td><%= link_to "Delete"%></td>
                  <% end %>
        </tr>
      <%end%>
    </table>
  </div>
<% end %>
<%= paginate @posts%>

