<h4>List of category</h4>
    <table class="table table-striped">
      <% @category.each do |category| %>
        <tr>
          <td><%= category.name%></td>
          <td><%= link_to "Destroy", category_path(category), data: {
                    turbo_method: :delete
                  } %></td>

        </tr>
      <%end%>
    </table>

    <%= form_for :category, url: categories_path, method: :POST, local: true do |f| %>
  <div class="field">
    <%= f.label :"Name of category" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>
